.container {
  display: flex;
  flex-direction: column;
}

.container div {
  margin: 30px;
}

.container div ul li {
  list-style-type: none;
}

.container div h1{

    margin-bottom: 10px;
}
.container div p{
    line-height: 1.8rem;
}